body {
    padding-top: 10px;
}
[class*="col-"], footer {
    /*background-color: lightgreen;*/
    border: 2px solid black;
    border-radius: 6px;
    /*line-height: 40px;*/
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*-- set height for head section--*/
.poc,.awards,.contacts{
    line-height: 177px;

}
.headSection2{
    line-height: 154px;;
}

.navsection{
    line-height: 40px;
}

/* adject height of button in search box*/
.searchbtn{
    top: -8px;
}
.navbar-inverse{
    margin-bottom: auto;
}